body, html, h1, h2, p, div, a {
	padding: 0;
	margin: 0;
	color: #3A3A3C;
	font-family: 'Raleway', sans-serif;
}

body, html {
	background-color: #A9DDD9;
}

#title {
	height: 20vh;
	width: 95%;
	background-color: #3A3A3C;
	margin: 10px auto;
	border: 1px solid #3A3A3C;
	text-align: center;
	font-size: 200%;
}

h1 {
	color: #23B5AF;
}

#textContainer {
	height: 40vh;
	width: 95%;
	margin: 5% auto;
}

.text {
	height: 100%;
	width: 40%;
	border: 1px solid #3A3A3C;
	background-color: #E3493B;
	border-radius: 1%;
	-webkit-border-radius: 1%;
	text-indent: 10%;
}

#right {
	margin-left: 59.75%;
	margin-top: -18.65%;
}

#button1 {
	float: left;
	margin-left: 3%;
}


#button2 {
	float: right;
	margin-left: 53.5%;
	margin-top: -6.5%;
}

#button3 {
	margin: 15% auto;
}

.click {
	width: 30vw;
	line-height: 10vh;
	border: 1px solid #3A3A3C;
	background-color: #EEBA4C;
	border-radius: 2%;
	-webkit-border-radius: 2%;
	margin: 2%;
	text-align: center;
	font-size: 250%;
	text-decoration: none;
	display: inline-block;
}

.click:hover {
	width: 30vw;
	line-height: 10vh;
	border: 2px solid #3A3A3C;
	background-color: #3A3A3C;
	color: #EEBA4C;
	border-radius: 2%;
	-webkit-border-radius: 2%;
	margin: 2%;
	text-align: center;
	font-size: 250%;
	text-decoration: none;
	display: inline-block;
}